.padding-0 {
	padding-left: 0;
	padding-right: 0;
}

.product {
    list-style-type: none;
    border: 1px solid #B5B4B7;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.product .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.product li {
    border-bottom: 1px solid #B5B4B7;
    padding: 10px;
    text-align: center;
}

.product .grey {
    background-color: #eee;
    font-size: 20px;
}

.compHeader {
    min-height: 300px;
}
